<nav>
  <ul>
    <li class="nav-home">
      <a href="/" title="Home">
        <span>
          {% include "rohan-logo.njk" %}
        </span>
        <span>
        ohan
      </span>
      </a>
    </li>
    {% for entry in collections.all | eleventyNavigation %}
      <li class="nav-item{% if entry.url == page.url %} nav-item-active{% endif %}">
        <a
          href="{{ entry.url | url }}"
        >
          {{ entry.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
</nav>