.heroine {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 2rem;
}

.heroine.golden-bottom {
  border-bottom: 2px solid var(--secondary-default);
}

.heroine img {
  clip-path: url(#clip-path);
  --size: min(90vw, 342px);
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  object-position: 10px 0;
}

.heroine h1 {
  text-align: center;
}

@media (min-width: 1024px) {
  .heroine {
    flex-direction: row;
  }

  .heroine picture {
    display: block;
    margin-right: 4rem;
  }

  .heroine h1 {
    text-align: left;
  }
}
