<footer>
    <p>&#8471 Copyright {% year %} Rohan Faiyaz Khan</p>
    <p>This site was made using the static site generator <a href="https://www.11ty.dev/">11ty.js </a>.<wbr>Full source code is <a href="{{metadata.repository}}">available on Github</a>.
</footer>