{% extends "layouts/base.njk" %}

{% block body %}
  {% set css %}
  {% include "components/heroine/heroine.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>

  <main class="container heroine">
    {% include "clip-path.svg" %}
    <div>
      <picture>
        <img src="/img/rohan-3.jpg" alt="Picture of Rohan Faiyaz Khan" class="heroine__img"/>
      </picture>
    </div>
    <div>
      {{content | safe}}
    </div>
  </main>
{% endblock %}