{% extends "layouts/base.njk" %}

{% block body %}
  {% set css %}
  {% include "components/heroine/heroine.css" %}
  {% include "components/postslist/postslist.css" %}
  {% include "components/tagslist/tagslist.css" %}
  {% endset %}
  <style>
    {{css | cssmin | safe}}
  </style>
  <main class="container">
    <section class="heroine golden-bottom">
      {% include "clip-path.svg" %}
      <div class="heroine-decorative-container">
        <span class="decorator left">
          {% include "divider.svg" %}
        </span>
        <picture>
          <img src="img/mustu-profile.jpg" alt="Picture of Qazi Mustabeen Noor" class="heroine__img"/>
        </picture>
        <span class="decorator right">
          {% include "divider-2.svg" %}
        </span>
      </div>
      <div>
        {% block heroine %}{% endblock %}
        {% include "components/social-icons/social-icons.njk" %}
      </div>
    </section>
    <section class="home-posts">
      <div class="research-posts">
        {% set maxPosts = collections.research | published | length | min(3) %}
        <h3>Latest {% if maxPosts == 1 %}research article{% else %}{{maxPosts}} research articles{% endif %}
        </h3>
        {% set postslist = collections.research | published | head(-3) %}
        {% include "components/postslist/postslist.njk" %}
        <a href="/research" class="view-all">View all academic articles</a>
      </div>
      <div class="fiction-posts">
        {% set maxPosts = collections.fiction | published | length | min(3) %}
        <h3>Latest {% if maxPosts == 1 %}fiction article{% else %}{{maxPosts}} fiction articles{% endif %}
        </h3>
        {% set postslist = collections.fiction | published | head(-3) %}
        {% include "components/postslist/postslist.njk" %}
        <a href="/tech" class="view-all">View all fiction articles</a>
      </div>
      <div class="non-fiction-posts">
        {% set maxPosts = collections.fiction | published | length | min(3) %}
        <h3>Latest {% if maxPosts == 1 %}non-fiction article{% else %}{{maxPosts}} non-fiction articles{% endif %}
        </h3>
        {% set postslist = collections.nonfiction | published | head(-3) %}
        {% include "components/postslist/postslist.njk" %}
        <a href="/tech" class="view-all">View all non-fiction articles</a>
      </div>
    </section>
  </main>
{% endblock %}