{% extends "layouts/base.njk" %}

{% block body %}

    {% set css %}
    {% include "./blog-post.css" %}
    {% include "../tagslist/tagslist.css" %}
    {% endset %}
    <style>
        {{css | cssmin | safe}}
    </style>
    <section class="container blog-post">
        <header>
            {% if header_img and header_img_alt %}
                <picture>
                    <img src="{{header_img}}" alt="{{header_img_alt}}"/>
                </picture>
            {% endif %}
            <h1>{{title}}</h1>
            <p>{{ author or metadata.author.name }}<br/>{{ date | readableDate }}</p>
            {% include "components/tagslist/tagslist.njk" %}
        </header>
        <main class="blog-content">
            {{content | safe}}
        </main>
    </section>
{% endblock %}