{% extends "layouts/base.njk" %}

{% block body %}

    {% set css %}
    {% include "./blog-post.css" %}
    {% include "../tagslist/tagslist.css" %}
    {% endset %}
    <style>
        {{css | cssmin | safe}}
    </style>
    <section class="container blog-post">
        <header>
            {% if header_img and header_img_alt %}
                <figure>
                    <picture>
                        <img src="{{header_img}}" alt="{{header_img_alt}}"/>
                    </picture>
                    {% if header_img_caption %}
                        <figcaption>{{header_img_caption | safe }}</figcaption>
                    {% endif %}
                </figure>
            {% endif %}
            <h1>{{title}}</h1>
            {% if subtitle %}
                <p class="subtitle">{{subtitle}}</p>
            {% endif %}
            <p>{{ author or metadata.author.name }}<br/>{{ date | readableDate }}</p>
            {% include "components/tagslist/tagslist.njk" %}
            <a href="#">This article was originally posted on Dhaka Tribune</a>
        </header>
        <main class="blog-content">
            {{content | safe}}
        </main>
    </section>
{% endblock %}