---
title: Research Articles by Qazi Mustabeen Noor
layout: base
eleventyNavigation:
  key: 'Fiction'
---
{% set css %}
{% include "components/postslist/postslist.css" %}
{% include "components/tagslist/tagslist.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>

<main class="container small">
  <h1>View all fiction articles
    </h1>
  {% set postslist = collections.fiction | published %}
  {% include "components/postslist/postslist.njk" %}
</main>