```
eleventyNavigation:
  key: Home
  order: 1
```
{% extends "landing.njk" %}

{% block heroine %}
  <h1 class="font-heading">Hi, my name is Rohan<small class="pronouns"> (they/them) </small>
  </h1>
  <p>I am a Bangladeshi Frontend Web Developer and soon-to-be Masters student at Queen’s University in Canada. I love web technology and learning new things. and I wish to help create an accessible web for everyone.</p>
  <p>In research I am facsinated by AI but am very skeptic of usage of technology without understanding its ethical ramifications. I wish to delve into the ethics of AI and help create a sustainable ecosystem of accessible knowledge on the risks of using AI in our systems.</p>
{% endblock %}