---
title: Non-Fiction Articles by Qazi Mustabeen Noor
layout: base
eleventyNavigation:
  key: 'Non-Fiction'
---

{% set css %}
{% include "components/postslist/postslist.css" %}
{% include "components/tagslist/tagslist.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>

<main class="small container">
  <h1>View all non-fiction articles
    </h1>
  {% set postslist = collections.nonfiction | published %}
  {% include "components/postslist/postslist.njk" %}
</main>