---
title: Research Articles by Rohan Faiyaz Khan
layout: layout.njk
eleventyNavigation:
  key: 'Research'
---

<main class="container small">
    <h1>View all academic articles
    </h1>
    {% set postslist = collections.research | head(-3) %}
    {% include "postslist.njk" %}
</main>