---
pagination:
  data: collections
  alias: tag
  size: 1
  filter:
    - all
    - posts
    - tech
    - research
eleventyComputed:
  title: Articles Tagged “{{ tag }}” | Qazi Mustabeen Noor
permalink: /tags/{{ tag | slug }}/
layout: base
---

{% set css %}
{% include "components/postslist/postslist.css" %}
{% include "components/tagslist/tagslist.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>

<main class="container small">
  <h1>Tagged “{{ tag }}”</h1>

  {% set postslist = collections[tag] %}
  {% include "components/postslist/postslist.njk" %}
</main>