---
title: Web Dev Articles by Rohan Faiyaz Khan
layout: layout.njk
eleventyNavigation:
  key: 'Web Dev'
---
<main class="small container">
    <h1>View all web development articles
    </h1>
    {% set postslist = collections.tech | head(-3) %}
    {% include "postslist.njk" %}
</main>