---
title: Web Dev Articles by Rohan Faiyaz Khan
layout: base
eleventyNavigation:
  key: 'Web Dev'
---

{% set css %}
{% include "components/postslist/postslist.css" %}
{% include "components/tagslist/tagslist.css" %}
{% endset %}
<style>
  {{css | cssmin | safe}}
</style>

<main class="small container">
  <h1>View all web development articles
    </h1>
  {% set postslist = collections.tech %}
  {% include "components/postslist/postslist.njk" %}
</main>