---
title: Research Articles by Rohan Faiyaz Khan
eleventyNavigation:
  key: 'Web Dev'
---
{% include "layout.njk" %}
<main class="container">
    <h1>View all web development articles
    </h1>
    {% set postslist = collections.tech | head(-3) %}
    {% include "postslist.njk" %}
</main>