:root {
  --primary-default: hsla(330, 72%, 55%, 1);
  --primary-dark: #a81887;
  --primary-light: hsla(330, 53%, 73%, 1);
  --secondary-dark: hsla(53, 70%, 76%, 1);
  --secondary-default: #f0a61d;
  --secondary-light: hsla(53, 70%, 76%, 1);
  --gray-100: #f3f4f6;
  --gray-300: #d1d5db;
  --gray-500: #6b7280;
  --gray-700: #374151;
  --font-heading: 'Josefin Sans', sans-serif;
  --font-sans: 'Noto Sans', sans-serif;
  --text-hover: hsla(330, 100%, 94%, 1);
  --text-focus: hsla(330, 100%, 88%, 1);
}

body {
  background: var(--primary-dark);
  font-family: var(--font-sans);
  color: var(--gray-300);
}

.font-heading {
  font-family: var(--font-heading);
}

.container {
  --p-x: 2rem;
  --p-y: 0.25rem;
  --max-w: 1024px;
  max-width: var(--max-w);
  padding: var(--p-y) var(--p-x);
  margin: 0 auto;
}

.blog-post {
  --grid-cols: 324px auto;
  display: flex;
  flex-direction: column;
}

.blog-post > header {
  display: flex;
  flex-direction: column;
  font-family: var(--font-heading);
}

.blog-post > header h1 {
  line-height: 1;
}

.blog-post > header > * {
  margin: 0 0 1rem;
}

.blog-post > header img {
  border-radius: 50%;
  object-fit: cover;
  --size: 270px;
  width: var(--size);
  height: var(--size);
}

@media (min-width: 1024px) {
  .blog-post {
    display: grid;
    grid-template-columns: var(--grid-cols);
    column-gap: 2rem;
  }
}

.heroine {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heroine img {
  clip-path: url(#clip-path);
  --size: 342px;
  width: var(--size);
  height: var(--size);
  object-fit: cover;
  object-position: 10px 0;
}

.heroine h1 {
  text-align: center;
}

@media (min-width: 1024px) {
  .heroine {
    flex-direction: row;
  }

  .heroine picture {
    display: block;
    margin-right: 4rem;
  }

  .heroine h1 {
    text-align: left;
  }
}

h1 {
  color: var(--gray-300);
  font-size: 2rem;
}

small.pronouns {
  letter-spacing: 1px;
  font-size: 0.8rem;
  color: var(--primary-light);
  vertical-align: top;
}

.social-icon-container {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0;
  flex-wrap: wrap;
}

.social-icon {
  width: 24px;
  height: 24px;
  margin-right: 1rem;
  color: var(--gray-300);
  transition: color 0.25s ease-in-out;
}

.social-icon:focus {
  color: var(--primary-light);
}

.social-icon:hover {
  color: var(--primary-light);
}

@media (min-width: 1024px) {
  .social-icon-container {
    justify-content: flex-start;
  }
}

nav > ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-home {
  width: 3rem;
  height: 3rem;
  flex-grow: 1;
}

.nav-home > a {
  color: var(--secondary-dark);
  transition: color 0.25s linear;
  display: flex;
  align-items: center;
}

.nav-home > a:hover {
  color: var(--secondary-light);
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, 'Andale Mono WT', 'Andale Mono',
    'Lucida Console', 'Lucida Sans Typewriter', 'DejaVu Sans Mono',
    'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L',
    'Courier New', Courier, monospace;
  line-height: 1.5;
}
pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}
code {
  word-break: break-all;
}
code .highlight-line {
  display: block;
  padding: 0.125em 1em;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

/* allow highlighting empty lines */
code .highlight-line:empty:before {
  content: ' ';
}
/* avoid double line breaks when using display: block; */
code .highlight-line + br {
  display: none;
}

code .highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}
code .highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}
code .highlight-line-add {
  background-color: #45844b;
}
code .highlight-line-remove {
  background-color: #902f2f;
}

a {
  color: var(--primary-light);
  text-decoration: none;
  transition: color 0.2s linear;
}

a:focus {
  color: var(--text-focus);
}

a:hover {
  color: var(--text-hover);
}

a.direct-link {
  font-size: 0.8em;
}
